* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(245, 248, 255, 1);
}

.banner {
  margin-bottom: 7.5rem;
}


nav {
  display: flex;
  justify-content: space-between;
  max-width: 71.25rem;
  align-items: center;
  margin: 0px auto;
  margin-bottom: 14rem;
  width: 100%;
}

nav img {
  width: 135px;
  height: 82px;
}

.nav-anchors a {
  font-family: inter;
  text-decoration: none;
  color: rgba(37, 36, 50, 1);
  font-size: 1.3rem;
  margin-right: 3rem;
}

.banner-container {
  display: flex;
  max-width: 71.25rem;
  align-items: center;
  margin: 1.8rem auto;
}

.banner-description {
  font-family: inter;
  width: 35.63rem;
  height: auto;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.banner-title {
  font-family: noto serif;
  width: 35.63rem;
  height: 11rem;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
}



.banner-image img {
  width: 100%;
  max-width: 35.63rem;
  height: auto;
  margin-bottom: 20px;
}

.fresh-flowers {
  color: rgba(233, 90, 8, 1);
}

.plants {
  margin-bottom: 13.75rem;
}

.plants-title {
  font-size: 3.12rem;
  font-weight: bold;
  font-family: noto serif;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 1rem;
}

.plants-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* row-gap: 1.25rem; */
  max-width: 71.25rem;
  margin: 0 auto;
  width: 100%;
}

.plants-description {
  font-family: inter;
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  width: 52rem;
  
}

.plants-text {
  margin: 0 auto;
  margin-bottom: 3.12rem;
  width: 100%;
  max-width: 55rem;
  text-align: center;
}

.plants-card {
  display: grid;
  place-content: center;
  text-align: center;
  /* gap: 3.13rem; */
  padding: 10px;
}
.plants-card img {
  /* max-width: 16.88rem; */
  /* height: 20.13rem; */
  width: 100%;
}
.lily {
  font-size: 1.37rem;
  font-family: inter;
  color: rgba(17, 17, 17, 1);
}

.price {
  font-weight: bold;
  font-size: 1.37rem;
  font-family: inter;
  color: rgba(17, 17, 17, 1);
}

.btn {
  width: 100%;
  height: 3.13rem;
  background-color: rgba(233, 90, 8, 1);
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  border: none;
}

.lover {
  display: flex;
  max-width: 71.25rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 100%;
  align-items: center;
  gap: 2.5rem;
}

.lover-title {
  font-size: 3.12rem;
  font-weight: bold;
  color: #000000;
  font-family: noto serif;
  margin-bottom: 1.25rem;
  
}

.lover-image img {
  position: relative;
  max-width: 33.75rem;
  height: auto;
  width: 100%;
}
.lover-image .badge {
  position: absolute;
  top: 110rem;
  right: 83rem;
  width: 17.81rem;
  height: 17.81rem;
  background-color: transparent;
  filter: drop-shadow(3px 3px 3px lch(3.71% 0.34 19.22));
}

.lover-text {
  
  width: 40rem;
  height: auto;
}

.lover-text ul li {
  max-width: 32.5rem;
  /* max-height: 6.75rem; */
  margin-bottom: 3rem;
  font-size: 1.37rem;
  font-family: inter;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 3rem;
}

.latest-deals {
  margin-bottom: 7.5rem;
}

.deals-title {
  font-family: noto serif;
  font-size: 3.13rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}
.deals-description {
  font-family: inter;
  font-size: 1.38rem;
  color: rgba(0, 0, 0, 0.5);
  max-width: 55.5rem;
}

.deals-text {
  display: grid;
  place-content: center;
  text-align: center;
  gap: 1rem;
  margin-bottom: 7.5rem;
}

.deals-bg-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 71.25rem;
  margin: 0 auto;
  width: 100%;
}

.deals-bg-image-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/deal-bloom.png");
  width: 22rem;
  height: 12.87rem;
  border-radius: 14px;
  position: relative;
  margin-bottom: 1.25rem;
  
  
}

.deals-bg-image-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/deal-ana.png");
  width: 22rem;
  height: 12.31rem;
  border-radius: 14px;
  position: relative;

}
.deals-bg-image-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/deal-zabo.png");
  width: 47rem;
  height: 26.44rem;
  border-radius: 22px;
  position: relative;
}

.deals-bg-title {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: noto serif;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  margin-bottom: 12px;
}

.deals-bg-anchor {
  background-color: transparent;
  font-family: inter;
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
}
.deals-bg-anchor:hover {
  color: lightsalmon;
  transition-duration: 0.3s;
}

.bg-3-title {
  font-size: 2.5rem;
}
.bg-3-anchor {
  font-size: 1.75rem;
}

.deals-bg-text {
  text-align: center;
  position: absolute;
  background-color: transparent;
  top: 65px;
  left: 65px;
}

.deals-bg-text-3 {
  text-align: center;
  position: absolute;
  background-color: transparent;
  top: 195px;
  left: 150px;
}

.colorful-bg-image {
  background-image: url("../assets/news-letter-bg.png");
  width: 90rem;
  height: 33.31rem;
  margin: 0 auto;
  position: relative;
  /* width: 100%; */
}

.colorful-title {
  font-family: noto serif;
  font-size: 50px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  margin-bottom: 23px;
}

.colorful-content {
  text-align: center;
  position: absolute;
  background-color: transparent;
  top: 160px;
  right: 300px;
  width: 51.87rem;
  max-width: 100%;
}

input[type="email"] {
  padding-left: 1.25rem;
  height: 3.12rem;
  background-color: white;
  width: 100%;
  border: none;
}

input[type="submit"] {
  padding: 1rem;
  padding-left: 3.25rem;
  padding-right: 3.25rem;
  border: none;
  background-color: rgba(233, 90, 8, 1);
  color: #fff;
}

.form {
  display: flex;
  margin-left: 190px;
  width: 100%;
}

.footer-text {
  font-size: 1.4rem;
  font-family: inter;
  color: rgba(0, 0, 0, 0.5);
  width: 21.87rem;
  margin-top: 1rem;
}

.footer-links a {
  text-decoration: none;
  font-size: 1.3rem;
  color: gray;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.5rem;
  max-width: 25rem;
  column-gap: 3.75rem;
}
.footer-logo {
  max-width: 25rem;
}
.footer-social-media {
  max-width: 31.25rem;
  gap: 1.87rem;
}
.footer-social-media img {
  margin-right: 2.18rem;
}

.x {
  background-color: rgb(101, 101, 196);
  border: 2px solid blue;
  height: 20px;
  width: 20px;
  border-radius: 30px;
  padding: 8px;
  border: none;
}

footer {
  
  display: flex;
  gap: 40px;
  justify-content: space-between;
  max-width: 90rem;
  margin: 0 auto;
  padding: 30px;background-color: rgb(226, 207, 183);
 
}


/* RESPONSIVE MEDIA QUERY FOR MOBILE PHONE DEVICES ONLY */
@media screen and (max-width: 576px){
 
 .banner-container{
    flex-direction: column-reverse;
 }   

.mobile-hidden {
  display: none;
}

   nav {
    margin-left: 10px;
    width: 100%;

  }
  .banner-image img{
    width: 100%;
    max-width: 30rem;
    height: 20rem;
  }
  .banner-description {
  
  font-size: 1rem;
  width: 60%;
  margin: 0 auto;
  
}



  .banner-title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }

  .plants-card-container {
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  
}

.plants-description {
  text-align: center;
  font-size: 1.37rem;
  width: 100%;
  
  
}

.lover {
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 9rem;
  
}
.lover-text {

  width: 100%;
  height: 700px;
}
.lover-image img {

  width: 100%;
}


.deals-bg-image-3{
    width: 22rem;
    height: 12.8rem;
}

 .deals-bg-images{
    width: 100vw;
    height: 100vh;
 } 





.deals-bg-text-3 {
  text-align: center;
  position: absolute;
  background-color: transparent;
  top: 65px;
  left: 65px;
}

.deals-bg-title {
  font-size: 1.25rem;

}

.deals-bg-anchor {

  font-size: 1rem;
 
}
.deals-bg-images {
  margin-left: 35px;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.colorful-bg-image {
    margin-top: 20rem;
  width: 100%;
   height: 15rem;
   background-repeat: no-repeat;
   
}
.colorful-content{
    max-width: 20rem;
    max-height: 8rem;
    top: 60px;
    right: 20px;
  
  
  
}
}
.colorful-title{
    font-size: 20px;
    margin-right: 80px;

}


input[type="email"] {

  width: 50%;
  border: none;
}

input[type="submit"] {
  padding: 10px;
  
  
}
form{
    max-width: 500px;
}

@media screen and (max-width:576px){

footer{
flex-direction: column;
 
  
}

.footer-social-media{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.x {
  background-color: rgb(101, 101, 196);
  border: 2px solid blue;
  height: 35px;
  width: 35px;
  border-radius: 30px;
  padding: 8px;
  border: none;
}
}






